body
  background black
  color white

  h1
    background transparent url(/assets/sprite.png) no-repeat sprite("app/assets/images/general/arrow-down.png")
  label
    background url(/assets/sprite.png) no-repeat sprite("app/assets/images/general/arrow-up.png")
